@import "tailwindcss";

/* #fdf8eb */

@theme {
  /* --color-background: #0d1b2a; */
  --color-primary: #E0D1BF;
  --font-family-sans: "Source Sans 3", "Source Sans Pro", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-sans);
  position: relative;
  min-height: 100vh;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  background-image: url('./assets/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

#root {
  position: relative;
  z-index: 1;
}

@layer utilities {
  .reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: all 3s cubic-bezier(0.22, 1, 0.36, 1); /* smooth easing */
  }

  .reveal-left {
    opacity: 0;
    transform: translateX(-200px);
    transition: all 3s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .reveal-right {
    opacity: 0;
    transform: translateX(200px);
    transition: all 3s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .reveal-up {
    opacity: 0;
    transform: translateY(200px);
    transition: all 3s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .reveal.show,
  .reveal-left.show,
  .reveal-right.show,
  .reveal-up.show {
    opacity: 1;
    transform: translate(0, 0);
  }

  .fade-in {
    animation: fadeIn 0.5s ease-in forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}